:root {
  --body-bg: #fff;
  --body-color: #000;
}

.dark-mode:root {
  --body-bg: #212529;
  --body-color: #bebebe;
}

html {
  background-color: var(--body-bg);
  color: var(--body-color);
}
html,
body,
#root {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: 'Montserrat', sans-serif;
}

#root {
  padding: 32px 24px;
}

#root header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.navers {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

div.navers h1 {
  font-size: 40px;
  line-height: 48px;
  margin-left: 16px;
}

div.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
}

div.card {
  height: 342px;

  display: flex;
  flex: 1 0 20%;
  flex-direction: column;
  align-self: flex-start;

  padding: 0px 16px;
  margin-bottom: 40px;
}

div.card img {
  max-width: 500px;
  width: 100%;
  height: auto;
  min-height: 280px;
  margin-bottom: 15px;
}

div.card b {
  font-size: 16px;
  line-height: 18px;
}

div.card span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* Para telas menores que 600px */
@media (max-width: 600px) {
  div.cards {
    grid-template-columns: 1fr;
  }
}

/* Para telas maiores que 600px */
@media (min-width: 600px) {
  div.cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Para telas maiores que 900px */
@media (min-width: 900px) {
  div.cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Para telas maiores que 1100px */
@media (min-width: 1100px) {
  div.cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Para telas maiores que 1800px */
@media (min-width: 1800px) {
  div.cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
